/** Fontes **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wdth,wght@0,75..100,100..700;1,75..100,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

/** Configuração Base **/
@import "tailwindcss";
@plugin "daisyui";
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-oswald: "Oswald", ui-sans-serif, system-ui, sans-serif;
    --font-poppins: "Poppins", ui-sans-serif, system-ui, sans-serif;
    --font-unbounded: "Unbounded", sans-serif;
    --font-plex: "IBM Plex Sans", sans-serif;
    --font-bakbak: "Bakbak One", sans-serif;
}

/** Estilos Globais **/
@import "../global/theme.css";
@import "../global/utilities.css";

/** Estilos Locais **/
@import "./style.css";
@import "./main.css";
@import "./components/sidebar.css";
@import "./components/header.css";
@import "./components/profile-options.css";
@import "./components/dark.css";
@import "./components/dashboard.css";
@import "./components/demo-docs.css";
@import "./components/notifications-ui.css";
